<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/home.css">
    <script src="js/home/home.js" defer></script>
    <title>Document</title>
</head>
<body>
<br>





<div class="container">
    <h1><a href=""><em>J</em>i <em>H</em>oon</a></h1>
    <p class="slogan"><span>success login</span></p>
    <div class="contact">
       id : <%=idInfo%>
       <input name="idInfo" value = "<%=idInfo%>" style="display:none;">
       <br><br>
       <input id="logout" type="button" value ="logout"><br><br>
       <input id="refresh" type="button" value="refresh">
       
    </div>
  </div>
</body>

</html>

<!-- Copyright (c) 2022 by Daniel Stancu (https://codepen.io/birkof/pen/kQaLmy) -->